* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
}

h1 {
  margin: 1rem 0;
}

section {
  border-bottom: 1px solid #000;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  min-height: 300px;
}

.row {
  width: 100%;
  min-width: 10px;
  padding: 1rem 0;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  align-items:
}

.col {
  min-width: 20px;
  min-height: 70px;
  margin: 10px;
}

.trolley-grey {
  background: #7D7C84;
  flex-grow: 1;
  order: 6
}

.sea-green {
  background: #2D93AD;
  flex-grow: 1;
  order: 5
}

.middle-red {
  background: #DE8F6E;
  flex-grow: 1;
  order: 4
}

.black {
  background: #000;
  flex-grow: 1;
  order: 3
}

.orange {
  background: orange;
  flex-grow: 1;
  order: 2
}

.olive {
  background: olive;
  order: 1
}

.red {
  background: red;
  flex-grow: 1;
  order: 0
}

@media (min-width: 768px) {
  .row {
    display: block;
  }
}

@media (min-width: 1200px) {
  section {
    background: red;
  }
}
